name: Deploy Angular to AWS

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install

      - name: Build Angular
        run: npm run build --configuration production

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Sync S3
        run: aws s3 sync dist/tu-proyecto/ s3://CHANGE_ME-mi-frontend-angular --delete

      - name: Invalidate CloudFront cache
        run: >
          aws cloudfront create-invalidation 
          --distribution-id CHANGE_ME_DISTRIBUTION_ID 
          --paths "/*"
